{% extends "base_nao.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block head_title %}{% translate "Sign In" %}{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_login">{% translate "Usuário:" %}</label>
                    <div class="input-group text-h1">
                        <div class="input-icon">
                            <i class="fas fa-user" aria-hidden="true"></i>
                        </div>
                        {{ form.login }}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="id_password">{% translate "Senha:" %}</label>
                    <div class="input-group">
                        {{ form.password }}
                    </div>
                </div>
                <!-- ... Seus outros campos ... -->
                <button type="submit" class="btn w3-brown">{% translate "Entrar" %}</button>
            </form>
            <div class="forgot-password">
                <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% translate "Esqueceu a senha?" %}</a>
            </div>
            <div class="mb-1">
                <div class="br-checkbox">
                    <input id="keep_connected_checkbox" name="keep_connected_checkbox" type="checkbox"
                        aria-label="Manter-me conectado" />
                    <label for="keep_connected_checkbox">{% translate "Manter-me conectado" %}</label>
                </div>
            </div>
        <span class="br-divider my-3"></span>
        <p class="first-access-href">
            <a style="text-decoration-line: none" href="{% url 'account_signup' %}">{% translate "Primeiro Acesso?" %}</a>
        </p>
        </div>
        <div class="col-md-5">
            <img src="{% static 'img/login.png' %}" class="img-fluid" alt="Imagem de Login">
        </div>
    </div>
</div>

{% endblock %}
