{% extends "base_nao.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block head_title %}{% translate "Sign In" %}{% endblock %}

{% block body %}
<img src="{% static 'img/estampa.png' %}" alt="FOTO-DO-TERREIRO" style="width: 100%; filter: blur(1px); height: 35px;" />
<style>
    .cor-link{
        color: #E28743;
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_login">{% translate "Usuário:" %}</label>
                    <div class="input-group text-h1">
                        <div class="input-icon">
                            <i class="fas fa-user" aria-hidden="true"></i>
                        </div>
                        {{ form.login }}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="id_password">{% translate "Senha:" %}</label>
                    <div class="input-group">
                        {{ form.password }}
                    </div>
                </div>
                <!-- ... Seus outros campos ... -->
                <style>
                    .mar{
                        background-color: #9f4907;
                    }
                    .mar:hover{
                    background-color: #E28743;
                    }

                </style>
                <button type="submit" class="btn mar">{% translate "Entrar" %}</button>
            </form>
            <div class="forgot-password">
                <br>
                <a class="button secondaryAction cor-link" href="{% url 'account_reset_password' %}"><strong>{% translate "Esqueceu a senha?" %}</strong></a>
          
            </div>
            <div class="mb-1">
                <div class="br-checkbox">
                    
                    <input id="keep_connected_checkbox" name="keep_connected_checkbox" type="checkbox"
                        aria-label="Manter-me conectado" />
                        
                    <label for="keep_connected_checkbox">{% translate "Manter-me conectado" %}</label>
                </div>
            </div>
        <span class="br-divider my-3"></span>
        <p class="first-access-href">
            <a style="text-decoration-line: none" href="{% url 'account_signup' %}" class="cor-link"><strong>{% translate "Primeiro Acesso?" %}</strong></a>
        </p>
        </div>
        <div class="col-md-5">
            <img src="{% static 'img/login.png' %}" class="img-fluid" alt="Imagem de Login">
        </div>
    </div>
</div>

{% endblock %}
