{% extends 'base_logada.html' %}
{% load i18n %}
{% load static %}

{% block body %}
<style>
    .text-orange {
        background-color: #E28743; /* Laranja queimado */
        transition: color 0.3s ease; /* Adicionando uma transição suave para a mudança de cor */
        font-size: 16px;
    }

    .text-orange:hover {
        background-color: #FF8C00; /* Mudança de cor ao passar o mouse por cima */
    }
    .text-orangee{
        color: #E28743;
    }
</style>

<img src="{% static 'img/estampa.png' %}" alt="FOTO-DO-TERREIRO" style="width: 100%; filter: blur(1px); height: 30px;" />

<form method="GET" action="{% url 'filomenas:listar_log' %}" autocomplete="off">
    <!-- <section class="form container-fluid p-5x">
       Seu formulário de filtro aqui 
    </section> -->
</form>

<div class="container text-center">
    <div class="row row-cols-2 mt-3">
        {% for estadia in estadias %}
            <div class="col-md-4">
                <div class="m-5">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ estadia.imagem.url }}" alt="Imagem da Estadia" >
                        <div class="card-body">
                            <h5 class="card-title text-orangee">Nome da Estadia: <strong>{{ estadia.nome_estadia }}</strong></h5>
                            <p class="card-text">Descrição: {{ estadia.descricao_estadia }}</p>
                            <a href="{% url 'filomenas:detalhar_log' pk=estadia.pk %}" class="btn text-orange">Reservar</a>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-md-12">
                <p class="text-h1">Não existem estadias cadastradas.</p>
            </div>
        {% endfor %}
    </div>
</div>


<style>
  .pagination-container {
      margin-top: 20px;
  }

  .pagination {
      display: flex;
      justify-content: center;
      list-style: none;
  }

  .page-item {
      margin: 0 5px;
  }

  .page-link {
      color: #E28743;
      background-color: #fff;
      border: 1px solid #E28743;
  }

  .page-link:hover,
  .page-link:focus {
      color: #fff;
      background-color: #E28743;
      border: 1px solid #E28743;
  }

  .page-item.active .page-link {
      z-index: 3;
      color: #fff;
      background-color: #E28743;
      border: 1px solid #E28743;
  }
</style>



<div class="container text-center">
  <div class="row">
      <div class="col"></div>
      <div class="col">
          <div class="pagination-container">
              <ul class="pagination">
                  {% if page_obj.has_previous %}
                      <li class="page-item">
                          <a class="page-link" href="?page=1&search={{ request.GET.search }}" aria-label="First">
                              <span aria-hidden="true">&laquo;&laquo;</span>
                          </a>
                      </li>
                      <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj.previous_page_number }}&search={{ request.GET.search }}" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                          </a>
                      </li>
                  {% endif %}

                  {% for pg in page_obj.paginator.page_range %}
                      <li class="page-item {% if page_obj.number == pg %}active{% endif %}">
                          <a class="page-link" href="?page={{ pg }}&search={{ request.GET.search }}">{{ pg }}</a>
                      </li>
                  {% endfor %}

                  {% if page_obj.has_next %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj.next_page_number }}&search={{ request.GET.search }}" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                          </a>
                      </li>
                      <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&search={{ request.GET.search }}" aria-label="Last">
                              <span aria-hidden="true">&raquo;&raquo;</span>
                          </a>
                      </li>
                  {% endif %}
              </ul>
          </div>
      </div>
      <div class="col"></div>
  </div>
</div>
<br><br><br><br><br><br>

{% endblock body %}
