{% extends 'base_logada.html' %}
{% load static %}

{% block body %}
<img src="{% static 'img/estampa.png' %}" alt="FOTO-DO-TERREIRO" style="width: 100%; filter: blur(1px); height: 40px;" />

<style>
    .text-orangee {
        background-color: #E28743;
    }
    .text-orangee:hover{
        background-color: #f5a76b;
    }
    .b {
        background-color: hsl(26, 73%, 57%);
        color: white;
        padding: 15px 20px;
        border-radius: 10px;
        cursor: pointer;
        display: inline-block;
        transition: 0.1s;
    }

    .b:hover {
        background-color: #f5a76b; /* Mudança de cor ao passar o mouse por cima */
    }

    .container {
        padding-top: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #E28743; /* Cor de fundo para cabeçalho da tabela */
        color: white;
    }
</style>

<div class="container">
    <a href="{% url 'filomenas:criar_hospede' %}" class="btn b">{{ request.user.username }}, finalize suas informações</a>
</div>

<div class="m-4">
    <div class="container product-container">
        <table>
            <thead>
                <tr>
                    <th>Nome completo</th>
                    <th>Profissão</th>
                    <th>Email</th>
                    <th>Idade</th>
                    <th>Telefone</th>
                    <th>Imagem</th>
                </tr>
            </thead>
            <tbody>
                {% for hospede in hospedes %}
                    <tr>
                        <td>{{ hospede.nome }}</td>
                        <td>{{ hospede.profissao }}</td>
                        <td>{{ hospede.email }}</td>
                        <td>{{ hospede.idade }}</td>
                        <td>{{ hospede.telefone }}</td>
                        <td><img src="{{ hospede.imagem_perfil.url }}" alt="Imagem da Estadia" width="150px" height="100px"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br><br><br>
        <div class="text-center">
        <a href="{% url 'filomenas:criar_hospede' %}" class="btn text-orangee btn-buy">Editar</a>
        <a href="{% url 'filomenas:listar_log' %}" class="btn btn-secondary btn-back">Voltar</a>
        <a href="{% url 'account_logout' %}" class="btn btn-danger">Sair</a>
        </div>

                        <!-- Modal de logout -->
                        <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <img src="{% static 'img/logo.png' %}" alt="" class="rounded-circle" style="width: 80px; height: 70px;">
                                    <h5 class="modal-title" id="exampleModalLabel"><strong>Filomenas</strong>
                                    </h5>
                    
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Fechar"></button>
                                </div>
                                <div class="modal-body">
                                    <p><strong>{{ request.user.username }}</strong>, você tem certeza de que deseja sair?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar
                                    </button>
                                    <button type="button" class="btn a" id="confirmLogout">Sair</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <script>
                        document.getElementById('confirmLogout').addEventListener('click', function () {
                            document.getElementById('logoutForm').submit();
                        });
                    </script>
                    
                    <!-- Formulário de logout -->
                    <form id="logoutForm" method="post" action="{% url 'account_logout' %}"
                        style="display: none;">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                    </form>
                </div>   
    
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
