{% extends 'base_nao.html' %}
{% load static %}

{% block body %}

<div style="position: relative; text-align: center;">
    <img src="{% static 'img/estampa.png' %}" alt="FOTO-DO-TERREIRO" style="width: 100%; filter: blur(1px);" />
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1;">
        <h1 style="color: white; font-size: 2.5em;">FILOMENAS: ROTA DO QUILOMBO</h1>
    </div>
</div>

<div style="background-color: blanchedalmond;" class="p-4 m-6">
    <h1 style="font-family:Haettenschweiler, sans-serif"><strong>Sejam bem-vindos!</strong></h1>
    <p class="text-justify"><em>Descubra a autenticidade e a riqueza cultural do Quilombo Pêga ao escolher uma estadia única neste refúgio histórico. Experimente a hospitalidade quilombola, mergulhe nas tradições preservadas ao longo de gerações e participe de uma jornada imersiva na identidade única deste quilombo. Sua estadia será mais do que uma visita;
       será uma conexão profunda com a herança e a resiliência da comunidade quilombola.
      Ao escolher uma estadia no Quilombo Pêga, você não apenas aprecia a beleza natural da região, mas também se envolve com a vibrante comunidade das Filomenas. Conheça a força das mulheres que desempenham papel central na preservação da identidade quilombola. Sua estadia contribui diretamente para iniciativas locais, fortalecendo a cultura, a economia e promovendo a justiça social. 
      Viva uma experiência única com significado.</em></p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center justify-content-center align-content-center">
            <div class="p-4 text-center">
                <p class="text-justify"><em>No coração do Quilombo Pêga, a Feira de Terreiro e a Junta Penela são celebrações 
                  que transcendem o simples compartilhar de alimentos; são rituais que refletem a riqueza cultural e a
                   coletividade vibrante dessa comunidade quilombola. <strong>A Feira de Terreiro</strong> é mais do que uma simples reunião
                    para apreciar sabores locais; é um testemunho da resistência e união dos quilombolas. Hoje, a feira é um símbolo 
                     de solidariedade e tradição. 
                     O aroma de pratos típicos, a música ancestral e a dança de São Gonçalo compõem uma experiência imersiva que conecta
                      os visitantes à autenticidade quilombola. <strong>A Junta Penela </strong>é mais do que uma refeição compartilhada; é uma prática
                       colaborativa que ressalta a importância da coletividade na comunidade quilombola. Cada participante contribui com 
                       um prato, formando uma mesa farta que simboliza a união e a partilha de recursos. Além de preservar tradições
                        culinárias,
                   essa prática reforça a força da comunidade ao garantir que ninguém passe necessidade.</em></p>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <div class="p-4 text-center">
                <img src="{% static 'img/filomenas.jpeg' %}" alt="ESTAMPA" class="img-fluid rounded-circle" style="max-width: 400px;">
            </div>
        </div>
    </div>
</div>


<p class="text-center">
  <a class="btn w3-brown" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Cadastre-se como Hóspede!</a>
  <button class="btn w3-brown" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Cadastre-se como Filomena!</button>
</p>

<div class="row text-center align-items-center" style="justify-items: center;">
  <div class="col">
    <div class="p-4 collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        Seja um Hóspede e venha conhecer e se emocionar com a nossa história!
        <a href="{% url 'account_signup' %}" style="color: #E28743;">Ser um Hóspede!</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class=" p-4 multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
        Seja uma Filomena e venha contar sobre sua cultura e sua história!
        <a href="{% url 'filomenas:criar_filomena' %}" style="color: #E28743;">Ser uma Filomena!</a>
      </div>
    </div>
  </div>
</div>



<div style="background-color: wheat;" class="p-4">
    <div class="titulos">
        <h2 id="titulos" style="color: black;">LOCALIZAÇÃO</h2>
    </div>
    <div class="textos">
        <p style="text-align: justify; padding: 10px 45px 10px 45px;"><em>A localização do Quilombo Pêga no município de
           Portalegre, Rio Grande do Norte, desempenha um papel crucial em sua história de resistência. Situado em meio a 
           acidentes geográficos naturais, como matas densas, serras íngremes e rios intransponíveis, o quilombo escolheu 
           um território de difícil acesso para se proteger de incursões de caçadores de escravos e milícias. 
           Essa geografia estratégica não apenas proporcionou segurança, mas também influenciou a coesão social 
           e a preservação cultural. A relação simbiótica entre o quilombo e o ambiente circundante é explorada pelas Filomenas, 
          grupo que emerge como guardião das tradições, fortalecendo a identidade quilombola..</em></p>
    </div>
    <iframe src="https://www.google.com/maps/d/u/2/embed?mid=1rAjBOm-sC9weuVxNjRJ9Dh6pgkR3G_0&ehbc=2E312F&noprof=1" width="100%" height="380"></iframe>
</div>

    <div class="titulos p-4" style="text-align: center;">
        <h2 id="titulos" style="color: orangered;">GALERIA</h2>
    </div>
    <div id="carouselExampleCaptions" class="carousel slide mx-auto align-items-center" style="width: 97%; border-style: solid; border-color:  #E28743;" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'img/imagem5.jpeg' %}" class="d-block w-100" style="height: 800px;" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <div style="background-color: #E28743; width: 100%;" class="p-2">
                    <h5><strong>FEIRA</strong></h5>
                    <p style="color: white;">Em nosso terreio contamos com uma varidade de produtos.</p>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/imagem2.jpeg' %}" class="d-block w-100" style="height: 800px;" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <div style="background-color: #E28743; width: 100%;" class="p-2">
              <h5>Temos muito a falar!!</h5>

              <p style="color: white;"> Roda de conversa.</p>

              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/imagem3.jpeg' %}" class="d-block w-100" style="height: 800px;" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <div style="background-color: #E28743; width: 100%;" class="p-2">
                <h5>Filomena é cultura!</h5>
              <p style="color: white;">Dança de são gonçalo.</p>
              </div>
              
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


{% endblock %}